/* Reset básico */
body, h1, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Corpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
}

/* Contêiner do formulário */
.login-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 300px;
    color: #333;
}

/* Estilização do formulário */
.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Campos do formulário */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    color: 'black';
    
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    background: #6a11cb;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 10px;
    margin-top: 15px;
}

button:hover {
    background: #2575fc;
}

.input-container {
    position: relative;
    width: 100%;

}

.clique-cadastro, a {
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.clique-cadastro a:hover {
    text-decoration: underline; /* Opcional: adiciona sublinhado ao passar o mouse */
}
input {
    width: 100%;
    padding: 10px 40px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: monospace;
    font-size: 16px;
    box-sizing: border-box;
}

input::placeholder {
    color: #aaa;
}

input:focus {
    outline: none;
    border-color: #6a11cb;
}


/* Estilização dos ícones dentro do input */
.input-container i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #aaa;
}

/* Ajuste para os botões */
.button-group button {
    width: 100%;
    padding: 10px;
    background: #6a11cb;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 10px;
    margin-top: 15px;
}

.forms-container {
    background-color: #2575fc;

}